$primary-color: rgb(238, 50, 213);
$secondary-color: turquoise;
$third-color: #f4f4f4;
$font-color: white;
$font-size: 25px;
$font-style: 'Merriweather', serif;

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Merriweather&display=swap');

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import "./topnav";
@import "./image";

body {

	font-family: $font-style;
  	background-color: red; /* For browsers that do not support gradients */
  	background-image: radial-gradient(rgb(248, 6, 167), rgb(51, 188, 243), white);
}

h1 {
	@include flexCenter();
}

h2 {
	display: flex;
	margin: 2px;
	padding: 6px;
	
	background-color: $third-color;
	border: $primary-color solid 3px;

}

h3 {
	display: inline-block;
	color: red;
	font-size: $font-size;

	p {

		@extend h2;
		margin: 12px;
		padding: 10px;

	}

	a {
		background-color: black;
		color: white;
		border: $primary-color solid 3px;

		&:hover {
			color: $primary-color;
		}
	}

	ul{

		list-style: none;
		
		li {
			@extend h2;
			display: inline-block;
			list-style: circle;
		}
	}
	
}


article{

	form {

		color: blue;
		font-size: $font-size;
		p {
			@extend h2;
			color: blue;
			font-size: $font-size;
		}

		input{

			background-color: $primary-color;
		}

		textarea {

			@extend input;
		}
	}
}


td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	text-align: left;
	padding-top: 4px;
}

form {
	margin: 0px;
	margin-top: 4px;
}

span {
	color: blue;
}

footer {

	margin-top: 6px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

@import "./media"